.wider_container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  max-width: 1760px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.text_neutral_60 {
  color: $gray-600;
}

.text_neutral_40 {
  color: $gray-400;
}

.text_primary_60 {
  color: $primary-600;
}

.bg_neutral_60 {
  background-color: $gray-600;
}

.border_neutral_60 {
  border: solid 1px $gray-600;
}

.bg_primary_10 {
  background-color: $primary-150;
}

.border_primary_white {
  border-image: linear-gradient(to right, $primary, $white) 1;
}

.bg_opacity_60 {
  opacity: 0.6;
}

.square_97 {
  width: 97px;
  height: 97px;
}

.fs-7 {
  font-size: 1rem;
}
//border
.border-left-primary-4 {
  border-left: 4px solid $primary;
}
// font-size
.fs-28{
  font-size: 28px;
}
.fs-40{
  font-size: 40px;
}
.fs-48{
  font-size: 48px;
}


// border-radius
.rounded-8 {
  border-radius: 8px;
}
.rounded-20{
  border-radius: 20px;
}

//img
.object-fit-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//height

.edit-room{
 
  .swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    min-height: 450px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active{
    background-color: $primary;
  }
}

@media screen and (min-width: 768px) {
  .fs-md-1 {
    font-size: 48px !important;
  }
  .fs-md-3{
    font-size: 24px !important;
  }
  .vh-md-60{
    height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  .edit-room .content{
    p{
      font-size: 12px;
    }
    .btn{
      font-size: 12px;
      padding: 8px;
    }
  }
  
}


@media screen and (max-width: 576px) {
  .fs-7 {
    font-size: 0.875rem;
  }
  .fs-48{
    font-size: 32px;
  }
}

