.text_neutral_60 {
  color: $gray-600;
}

.text_neutral_40 {
  color: $gray-400;
}

.text_primary_60 {
  color: $primary-600;
}

.bg_neutral_60 {
  background-color: $gray-600;
}

.border_neutral_60 {
  border: solid 1px $gray-600;
}

.bg_primary_10 {
  background-color: $primary-150;
}

.border_primary_white {
  border-image: linear-gradient(to right, $primary, $white) 1;
}

.bg_opacity_60 {
  opacity: 0.6;
}

.square_97 {
  width: 97px;
  height: 97px;
}
