@import "../index";

.bar_icon {
  &_line {
    &_1,
    &_2,
    &_3 {
      width: 35px;
      height: 5px;
      background: #fff;
    }

    &_2 {
      margin: 6px 0;
    }
  }
}

.x_icon {
  position: absolute;
  top: 38px;
  right: 38px;
  width: 35px;
  height: 35px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 5px;
    background: #fff;
  }

  &::before {
    transform: rotate(45deg) translate(8px, 8px);
  }

  &::after {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
}

.user_area {
  cursor: pointer;

  > ul {
    display: none;
  }

  &:hover {
    > ul {
      display: block;
    }

    a {
      color: $gray-800;
    }

    li:hover {
      background: $primary-200;

      a {
        color: $primary;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .x_icon {
    right: 26px;
  }
}

@media screen and (max-width: 640px) {
  .x_icon {
    right: 8px;
  }
}
